
/*


.formLogin{
    vertical-align: middle;
}



.formCadastro, .formCadastroUsuario, .formCadastroPosto{
    text-align: center;
    vertical-align: middle;
}





.camposForm{
	
	width: 300px;
	height: 40px;
	border: none;
	border-radius: 8px;
	padding-left: 2%;
	
}
*/
